ul, li {
  list-style: none;
}
.none {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bg_white {
  background: #fff;
}

.orange {
  color: #FFC15E;
}

.grey {
  color: #CACACA;
}

.lightBlue {
  background: #E4F7FE;
  color: #21C6FF;
}

.green {
  color: #23CEA0;
}

.lightGreen {
  background: #E6FAF8;
  color: #14CB9A;
}

.lightPurple {
  background: #F6F6FF;
  color: #526CFF;
}

.lighterGreen {
  background: #F6FFED;
  color: #86D758;
}

.strongGreen {
  background: #E6FFFB;
  color: #26C7C7;
}

.lightOrange {
  background: #FEF0EF;
  color: #FB8661;
}

.lightRed {
  background: #FFF0F6;
  color: #F53883;
}

.lighterBlue {
  background: #F0FFFF;
  color: #59BBF1;
}

.common-page{
  width: 100%;
  height: 100%;
  position: relative;
  background: #f6f8fb;
}
.common-page>.content-top{
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  height: 1.8rem;
  padding: 0 0 0.1rem 0;
}
.common-page > .content-top > .area-head{
  height: 0.56rem;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 0.17rem;
  font-size: 0.16rem;
  font-weight: bold;
  background: #fff;
}
.common-page > .content-top > .area-head > p > i{
  width: 0.18rem;
  height: 0.18rem;
  position: absolute;
  left: 0.26rem;
  top: 0.18rem;
  background: url(../images/back.png) no-repeat center;
  background-size: 100% 100%;
}



/* new app */

.home-page-content{
  padding-top:44px;
}

.patroledDay>span{
    background:#1EC335;
    color: #fff;
    border-radius: 50%;
}

.navbar {
  background: #fff;
  box-shadow: 0 3px 3px rgba(0,0,0,0.05);
}

.navbar-inner, .toolbar-inner {
  justify-content: start;
  -webkit-justify-content: start;
}

.navbar-inner>span {
  display: inline-block;
  margin-right: .16rem;
  color: #BFBFBF;
  font-weight: bold;
}

.navbar-inner>span.active {
  color: #000;
}

.navbar-inner>.right-last {
  position: absolute;
  right: 0;
}

.page-content {
  background: #fff;
  overflow-x: hidden;
}

.personal-info {
  padding: 0 .1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .1rem;
}

.personal-info p {
  text-align: center;
  font-size: .14rem;
}

.personal-info>div {
  padding: 0 .1rem;
}

.personal-info>.my-info {
  display: flex;
  align-items: center;
}

.portrait-image {
  padding: 0 .1rem 0 0;
}

.punch-card-info {
  margin-top: .14rem;
  padding: 0 .1rem;
}

.punch-card-info>.top-area {
  font-size: .14rem;
}

.top-area>span {
  display: block;
  float: left;
  padding-left: .2rem;
}

.top-area>span.punch-status-icon {
  background: url("../images/green-finish.png") no-repeat 0 center;
}

.top-area>span.right-button {
  float: right;
  background: url("../images/blue-calender.png") no-repeat 0 center;
}

.punch-card-info strong {
  font-weight: bold;
}

.punch-card-info>p {
  font-size: .14rem;
  padding: .05rem .1rem 0 .2rem;
}

.emegency-msg {
  border: .01rem solid #FF4A4A;
  margin: .15rem .1rem;
  padding: .1rem .15rem;
}

.emegency-msg>p {
  padding-left: .35rem;
  background: url("../images/red-info.png") no-repeat 0 center;
}

.emegency-msg strong {
  font-weight: bold;
  font-size: .14rem;
}

.patrol-list {
  height: calc(100% - 2.12rem);
  overflow-y: auto;
}

.patrol-list>.calendar-area {
  width: 100%;
  margin-bottom: 10px;
}

.calendar-area>p {
  text-align: right;
  padding: 0 .1rem;
  color: #307EF7;
  font-size: .14rem;
}

.patrol-list>.patrolTask-list {
  width: 100%;
  /* height: calc(100% - 1.44rem);
  overflow-y: auto;  */
  padding: .1rem;
}

.patrolTask-list>.patroltask-item {
  box-shadow: 0 0 .05rem .01rem #ddd;
  border-radius: .05rem;
  border-bottom: .02rem solid #3683F8;
  margin-bottom: .15rem;
}

.patroltask-item>.task-header {
  border-radius: .05rem 0;
  display: flex;
  align-content: center;
  position: relative;
}

.patroltask-item>.task-header>div {
  padding: .05rem .1rem;
  background: #3683F8;
  border-radius: .05rem 0 0 0;
  color: #fff;
}

.task-header>span {
  position: absolute;
  right: .2rem;
  top: .05rem;
}

.task-header>span>i {
  display: inline-block;
  width: .1rem;
  height: .1rem;
  border-radius: 50%;
  background: #FAAD14;
  margin-right: .1rem;
}

.patroltask-item>.task-content {
  padding: .1rem;
}

.task-content>.patrol-detail>p {
  font-size: .14rem;
  border-left: .08rem solid #333333;
  padding-left: .1rem;
}

.task-content>.patrol-detail>.detail-data {
  padding: .05rem .15rem;
}

.patrol-detail {
  margin-bottom: .03rem;
}

.patrol-detail>.detail-data>p {
  font-size: .14rem;
  color: #9A999A;
  line-height: .2rem;
  padding-bottom: .03rem;
}

.patrol-detail>.detail-data>p>strong {
  font-size: .15rem;
  color: #000;
  font-weight: bold;
}

.detail-data>p.arrange-line {
  display: flex;
  justify-content: space-between;
}

.task-content>.patrol-lines>p {
  font-size: .14rem;
  border-left: .08rem solid #333333;
  padding-left: .1rem;
}

.task-content>.patrol-lines>.line-data {
  padding: .05rem .15rem;
}

.patrol-lines>.line-data>p {
  font-size: .14rem;
  color: #9A999A;
  line-height: .3rem;
  padding-left: .2rem;
}


/* 巡查任务详情 */

.detail-title>.content-top>.area-head {
  text-align: center;
  position: relative;
  padding: .17rem;
  font-size: .16rem;
  font-weight: bold;
  background: #fff;
  box-shadow: 0 -1px 3px #ddd inset;
}

.detail-title>.content-top>.area-head>p>i {
  width: .18rem;
  height: .18rem;
  position: absolute;
  left: .26rem;
  top: .18rem;
  background: url(../images/back.png) no-repeat center;
  background-size: 100% 100%;
}

.detail-content {
  height: calc(100% - .56rem);
}

.detail-content>.info-area {
  padding-top: .1rem;
}

.info-area>.detail-item {
  background: #fff;
  padding: .12rem .16rem;
  margin-bottom: .08rem;
}

.info-area>.detail-item>strong {
  display: inline-block;
  width: 1rem;
  font-weight: bold;
}

.record-routes {
  padding: .1rem;
  height: calc(100% - 2.28rem);
}

.record-routes>.route-item {
  margin-bottom: .2rem;
  background: #fff;
  border-radius: .05rem;
  height: calc(100% - 0.6rem);
}

.btn-primary {
  padding: .1rem 0;
  background: #2679F7;
  color: #fff;
  text-align: center;
}

.routeItem-header {
  border-radius: .05rem 0;
  display: flex;
  align-content: center;
  position: relative;
}

.routeItem-header>div {
  padding: .05rem .1rem;
  background: #3683F8;
  border-radius: .05rem 0 0 0;
  color: #fff;
}

.routeItem-content {
  padding: .15rem .1rem;
  overflow-y: auto;
  height: calc(100% - .4rem);
}

.routeItem-content>p {
  border-left: .08rem solid #000;
  padding: 0 .1rem;
}

.routeItem-content>.record-points {
  padding: .1rem;
}

.record-points>.record-point>p {
  line-height: .22rem;
  font-size: .14rem;
  color: #999;
  position:relative;
}
.record-points>.record-point>p>a{
  background: #2679F7;
  color: #fff;
  padding: .03rem .1rem;
  position: absolute;
  right: 0;
  border-radius:.03rem;
}

.record-points>.record-point>p>span {
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: .2rem;
  height: .2rem;
  line-height: .2rem;
  margin-right: .16rem;
  font-size: .14rem;
  color: #000;
}


.record-point>.recordPoint-status {
  margin: 0 .1rem;
  border-left: 1px dashed #ddd;
  padding: .1rem .35rem;
}

.record-point>.recordPoint-status>span {
  font-size: .14rem;
  color: #999;
  padding: .02rem .1rem;
  border: 1px solid #ddd;
  border-radius: .05rem;
}
.record-point>.recordPoint-status>span.active{
  color: #00C297;
  border: 1px solid #00C297;
}

.record-point>.status-last {
  border: none;
}

/* 开始巡查页面 */
.detail-content>.patrol-content{
  width: 100%;
  overflow-x:auto;
}

.detail-content .patrol-overview {
  height: 1rem;
  width: 7rem;
  /* display: flex; */
  /* justify-content: space-between; */
}

.patrol-overview>.patrol-item::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  z-index: 0;
  width: 100%;
  height: 1;
  border-bottom: 1px solid #ddd;
}
.patrol-overview>.patrol-item.active::before{
  border-bottom:2px solid #2679F7;
}

.patrol-overview>.patrol-item {
  height: .8rem;
  /* border: 1px solid #ddd; */
  /* flex-grow: 1; */
  width: 1rem;
  float:left;
  position: relative;
}
.patrol-overview>.patrol-item>span{
  position: absolute;
  right: -.28rem;
  font-size: .14rem;
  top:.14rem;
}
.patrol-overview>.patrol-item.active>i{
  border:2px solid #2679F7;
}
.patrol-overview>.patrol-item>i {
  display: block;
  width: .1rem;
  height: .1rem;
  border-radius: 50%;
  border: 1px solid #ddd;
  position: absolute;
  top: calc(50% - .05rem);
  right: -0.06rem;
  background: #FFFFFF;
  z-index: 1;
}
.patrol-overview>.patrol-item>a{
  position: absolute;
  right: -.21rem;
  font-size: .14rem;
  bottom:.14rem;
  color:#6B6B6B;
}
.patrol-overview>.patrol-item>a.active{
  color:#2679F7;
  padding-left: .2rem;
  background: url(../images/green-finish.png) no-repeat 0 center;
}

.detail-content>.patrolPoint-detail {
  height: calc(100% - 1rem);
  padding: 0 .05rem;
}

.patrolPoint-detail>p {
  text-align: center;
  color: #999999;
  font-weight: bold;
  padding: .08rem 0;
  border-bottom: 1px solid #FBFBFB;
}

.patrolPoint-detail>.patrol-problem {
  height: calc(100% - .4rem);
}

.patrol-problem>p {
  padding: .1rem .1rem;
  border-bottom: 1px solid #F5F5F5;
}

.patrol-problem>p>strong {
  font-weight: bold;
  color: #333;
}

.patrol-problem>.patrolProblem-list {
  height: calc(100% - .43rem);
  overflow-y: auto;
}

.patrolProblem-list>.patrolProblem-item {
  padding-top: .1rem;
}

.patrolProblem-list>.patrolProblem-item>p {
  padding: .06rem .12rem;
}

.patrolProblem-item>.jurdge-area {
  padding: .06rem .36rem;
}

.patrolProblem-item>.jurdge-area>span {
  display: inline-block;
  background: #EBEBEB;
  color: #A2A2A2;
  padding: .06rem .25rem;
  border-radius: .05rem;
  margin-right: .1rem;
}

.jurdge-area>.no-problem.active {
  background: #1EC335;
  color: #fff;
}

.jurdge-area>.have-problem.active {
  background: #FB4242;
  color: #fff;
}

.patrolProblem-item>.problem-describe>p {
  padding: .06rem .12rem;
  color: #A4A4A4;
}

.problem-describe>.describe-content {
  padding: .1rem .1rem;
  margin: 0 .1rem;
  border: 1px solid #F3F3F3;
}

.problem-describe>.describe-content>textarea {
  width: 100%;
  padding-bottom: .1rem;
}

.describe-content>.problem-funs {
  width: 100%;
  padding: .1rem 0;
  display: flex;
  align-content: center;
}

.describe-content>.problem-funs>.func-item {
  width: .6rem;
  height: .6rem;
  border: 1px dashed #D3D3D3;
  border-radius: .05rem;
  margin-right: .1rem;
  background: #F9F9F9;
  color: #C3C3C3;
  padding: .05rem;
}

.describe-content>.problem-funs>.func-item>p {
  font-size: .12rem;
  text-align: center;
}

.describe-content>.problem-funs>.func-item>p>span {
  display: inline-block;
  width: .24rem;
  height: .24rem;
}

.problem-describe>.describe-content {
  padding: .06rem .12rem;
  color: #A4A4A4;
}

.problem-describe>.describe-content>p {
  font-size: .14rem;
  padding: .05rem 0;
}

.illegal-type>select {
  padding: .05rem .1rem;
}

.illegal-type>span {
  display: inline-block;
  border: 1px solid #F0F1F2;
  font-size: .14rem;
  padding: .05rem .1rem;
  background: #F9FAFC;
  margin-left: .05rem;
  color: #8A8A8A;
}

.btn-bottom {
  padding: .1rem;
  display: flex;
}

.btn-bottom>.btn-grey {
  background: #F9FAFC;
  color: #6C6C6C;
  padding: .1rem 0;
  text-align: center;
  flex-grow: 1;
  border: 1px solid #ddd;
  margin-right: .1rem;
}

.btn-bottom>.btn-primary {
  flex-grow: 2;
}
.btn-bottom>.btn-warn{
  flex-grow: 1;
  background: #DD001B;
  padding: .1rem 0;
  text-align: center;
  color:#fff;
}

/* 路域巡查 */
.road_patrol .personal-info{
  padding-bottom:.08rem;
}
.road_patrol .personal-info .patrol-time p:last-child{
  font-size: .14rem;
}
.road-patrol-list{
  height: calc(100% - 1.1rem);
}
.road-patrol-bottom{
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  border-top: 1px solid #E5E5E5;
}
.road-patrol-bottom>span{
  flex: 1;
  text-align: center;
  padding: .1rem 0;
  border-right: 1px solid #E5E5E5;
}
.road-patrol-bottom>span:last-child{
  border:none;
}
.road-patrol-bottom>span.active{
  border-bottom: 3px solid #2679F7;
  color:#2679F7;
  font-weight: bold;
}
.road-patrol-content >.position-info{
  padding: 0 .2rem .1rem .2rem;
  border-bottom: 1px solid #ddd;
}
.road-patrol-content >.position-info >p{
  font-size: .14rem;
  padding-bottom: .1rem;
}
.position-info-title{
  color:#BFBFBF;
}
.position-info>p>strong{
  font-weight: bold;
}
.position-info>p>span{
  padding: .06rem .05rem;
  font-size:.12rem;
}
.position-info>p>span.normal{
  background: #E8F9EB;
  color:#20C436;
}
.click-area{
  width: 1.8rem;
  height: 1.8rem;
  background: pink;
  margin: .5rem auto;
  background: url(../images/a6.gif) no-repeat center;
  background-size: 100% 100%;
  padding: 21% 0 0 0;
}
.click-area>p{
  width: 100%;
  color: #fff;
  font-size: 0.17rem;
  font-weight: 500;
  text-align: center;
}
.patrol-record-list{
  width: 100%;
  padding: .16rem;
  height: calc(100% - .41rem);
  overflow: auto;
}
.patrol-record-box{
  height: calc(100% - 1.1rem);
  background: #F7F7F8;
}
.patrol-record-box .patrol-record-tabs{
  width: 100%;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 2px 2px #ccc;
  border-top: 1px solid #eee;
}
.patrol-record-box .patrol-record-tabs>span{
  flex: 1;
  text-align: center;
  padding: .08rem 0.1rem;
  color: #BFBFBF;
}
.patrol-record-box .patrol-record-tabs>span.active{
  border-bottom: 3px solid #2679F7;
  color:#2679F7;
  font-weight: bold;
}
.patrol-record-list>.patrol-record-item{
  box-shadow: 0 0 0.05rem 0.01rem #ddd;
  border-radius: .05rem;
  border-bottom: .02rem solid #3683F8;
  margin-bottom: .15rem;
  background: #fff;
}
.patrol-record-item>.task-header{
  border-radius: .05rem 0;
  display: flex;
  align-content: center;
  position: relative;
}
.patrol-record-item>.task-header>div{
  padding: .05rem .1rem;
  background: #3683F8;
  border-radius: .05rem 0 0 0;
  color: #fff;
}
.patrol-record-item>.task-content{
  padding: .1rem;
}
.patrol-record-item >.task-bottom{
  padding: .14rem 0;
  border-top: 1px solid #E5E5E5;
  display: flex;
}
.patrol-record-item >.task-bottom>span{
  flex: 1;
  text-align: center;
  font-size: .12rem;
  color: #4A7BDF;
  border-right: 1px solid #e5e5e5;
}
.patrol-record-item >.task-bottom>span:last-child{
  border:none;
}
.patrol-record-item >.task-bottom>span>i{
  width: .12rem;
  height: .12rem;
  vertical-align: -.015rem;
  display: inline-block;
  margin-left: .1rem;
}
.patrol-record-item >.task-bottom>span>i.file{
  background: url(../images/pdf_ico2.png) no-repeat center;
  background-size: 100% 100%;
}
.patrol-record-item >.task-bottom>span>i.pic{
  background: url(../images/pdf_ico3.png) no-repeat center;
  background-size: 100% 100%;
}
.task-content>.upload-btn{
  background: #FAAD14;
  color: #fff;
  padding: .08rem 0;
  text-align: center;
  border-radius: .05rem;
}
.task-content>.upload-btn:active{
  background: #FFB86C;
}
#department{
  width: .7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.my-checkbox{
  width:.2rem;
  height: .2rem;
  border:1px solid #ddd;
  border-radius: 3px;
  position: absolute;
  left: .1rem;
}
.my-checkbox.active{
  background: url(../images/layer_checkon.png) no-repeat center;
  background-size: 100% 100%;
}
.popup-selectgoods .select-good-list .form-item{
  padding-left:.4rem;
}
.form_title {
  background: #F8F8F8;
  padding: .06rem .2rem;
  font-weight: bold;
}