/* 入库物资表单 */
.form-list {
  background: #FBFBFB;
}

.form-list .form-item {
  padding: .1rem .15rem;
  background: #fff;
  display: flex;
  align-content: center;
  margin-bottom: .05rem;
  position: relative;
}

.form-list .form-item>.item-label {
  width: 1rem;
  font-weight: bold;
  color: #555;
}
.form-list .form-item>.item-value {
  width: calc(100% - 1rem);
}
.form-list>.form-row{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.form-list .form-row>.photos-item{
  padding: .1rem .15rem;
  background: #fff;
  width: 100%;
}
.form-list .form-row>.photos-item>p{
  color: #9E9E9E;
  font-size: .14rem;
}
.form-list .form-row>.photos-item>.photos-box{
  width: 100%;
  padding: .1rem 0;
  display: flex;
  flex-wrap:wrap;
  align-content:flex-start;
  border-bottom: 1px dashed #E1E1E1;
}
.photos-item>.photos-box>.photo-item{
  width: .6rem;
  height: .6rem;
  border: 1px dashed #E1E1E1;
  border-radius: .05rem;
  margin: 0 .08rem .08rem 0;
  background: #F9F9F9;
  color: #C3C3C3;
}
.photo-item>p{
  font-size: .12rem;
  text-align: center;
  padding: .03rem;
}
.photo-item>p>span{
  display: inline-block;
  width: .24rem;
  height: .24rem;
}
.photo-item>img{
  width: 100%;
  height: 100%;
}

.form-list .form-item input,.form-list .form-item select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-sizing: border-box;
  border: none;
  background: 0 0;
  border-radius: 0;
  box-shadow: none;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: .22rem;
  color: #000;
  font-size: .15rem;
  font-family: inherit;
}
.form-list>.form-item>.item-value>select{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}